.login-content {
    width: 40%;
    margin: 50px auto;
}

.login-form {
    padding: 8%;
    border: 1px solid #DADADA;
}

.login-form-forgot {
    float: left;
}

.login-form-button {
    width: 40%;
    float: right;
}

:host {
    text-align: center;
}

nz-layout:last-child {
    margin: 0;
}

nz-form-label {
    float: left;
    font-weight: 500;
}