<nz-layout class="login-layout">
    <app-header></app-header>
    <nz-layout>
        <nz-content class="login-content">
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <h2>Reset Password</h2>
                </nz-form-item> 

                <nz-form-item>
                    <nz-form-label nzRequired class="left">Password</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzPrefix]="prefixLock">
                            <input type="password" nz-input formControlName="password" placeholder="Password" />
                        </nz-input-group>
                        <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Please input your password.</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzRequired>Confirm Password</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzPrefix]="prefixLock">
                            <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                        </nz-input-group>
                        <nz-form-explain *ngIf="validateForm.get('confirmPassword')?.dirty && validateForm.get('confirmPassword')?.errors">Confirm Password doesn't match password.</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                        <button nz-button class="login-form-button" [nzType]="'primary'">Reset Password</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
            <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
        </nz-content>
    </nz-layout>
    <app-footer></app-footer>
</nz-layout>
